body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: violet;
    background: url(space-savings.jpg;);
    background-size: cover;

}
a{
    color: yellow;
    text-decoration: blink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 35px;
}
.forget{
    background: rgba(44, 62,80, 0.7);
    padding: 40px;
width: 240px;
height: 340px;
margin-left: 180 px;
margin: 0 auto; 
margin-top: 120px;

}
h2{

    margin-top: 28px;
    margin-left: 10px;

}
input[type=password]
{
    width: 240px;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    font-family: 'play' , sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    text-align: center;
}
input[type=button]
{
   border: none;
   background-color: rgb(77, 224, 64);
   color: yellowgreen;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   border-radius: 12px;
   cursor: pointer;
   widows: 180px;
   margin-left: 30px;

}
input[type=button]:hover
{
    background: violet;
 color: tomato;
}
::placeholder{
    color: tomato;
    opacity: 0.8;/*Firebox*/
}